sudo: required
services:
  - docker

before_install:
  - docker build -t dreamaboutme/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run dreamaboutme/react-test npm test -- --coverage

after_succes:
  - docker build -t dreamaboutme/multi-client ./client
  - docker build -t dreamaboutme/multi-nginx ./nginx
  - docker build -t dreamaboutme/multi-server ./server
  - docker build -t dreamaboutme/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push dreamaboutme/multi-client
  - docker push dreamaboutme/multi-nginx
  - docker push dreamaboutme/multi-server
  - docker push dreamaboutme/multi-worker